<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="mysql_bill" connectionString="server=db02;database=bill;uid=carhome;pwd=8D102E41AD;charset=utf8;pooling=true;" providerName="MySql.Data" />
  <add name="mysql_product" connectionString="server=db02;database=product;uid=carhome;pwd=8D102E41AD;charset=utf8;pooling=true;" providerName="MySql.Data" />
  <add name="mysql_mall" connectionString="server=db02;database=mall;uid=carhome;pwd=8D102E41AD;charset=utf8;pooling=true;" providerName="MySql.Data" />
  <add name="ApplicationServices"
         connectionString="data source=.\mssql2008;database=aspnetdb;uid=sa;pwd=bb;"
         providerName="System.Data.SqlClient" />
</connectionStrings>