<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--<add key="ThemesRoot" value="http://img2.carhome.com/Themes/" />-->
  <add key="ThemesRoot" value="/themes/" />
  <!--<add key="UploadImageRoot" value="http://images.carhome.com/" />-->
  <add key="UploadImageRoot" value="/upload/" />
  <add key="AddinsRightsSynced" value="true"/>
  <add key="MinJs" value="false"/>

  <!--积分抵用金额的比例，多少积分抵用1元钱-->
  <add key ="IntegralRatio" value="100"/>

  <!--普通会员价格相对于输入价格百分比-->
  <add key="Member1Ratio" value="100" />

  <!--铜牌会员价格相对于输入价格百分比-->
  <add key="Member2Ratio" value="95" />

  <!--银牌会员价格相对于输入价格百分比-->
  <add key="Member3Ratio" value="90" />

  <!--金牌会员价格相对于输入价格百分比-->
  <add key="Member4Ratio" value="85" />

  <!--新用户注册，送优惠券类型-->
  <add key="RegCouponID" value="8"/>

  <add key="merhantId" value="10003425238"/>

  <!--  
            测试商户密钥,请在正式上线时使用您自己的商户密钥
      -->
  <add key="keyValue" value="1n721Gnn5802haIXM4oe2KRaf8vU9c7PD127liI3sK5jDo3585k8254LyQ4w"/>

  <!-- 
            交易请求地址，默认使用测试地址,请在正式上线时使用生产地址
      -->
  <!--<add key="authorizationURL" value="http://tech.yeepay.com:8080/robot/debug.action"/>-->

  <add key="authorizationURL" value="https://www.yeepay.com/app-merchant-proxy/node"/>
  <!-- 
            查询和退款地址，默认使用测试地址,请在正式上线时使用生产地址
      -->
  <!--<add key="queryRefundReqURL" value="http://tech.yeepay.com:8080/robot/debug.action"/>-->

  <add key="queryRefundReqURL" value="https://www.yeepay.com/app-merchant-proxy/command"/>


  <!--合作伙伴ID-->
  <add key="alipay_partner" value="2088002018404210"/>
  <!--支付宝账号-->
  <add key="alipay_seller_email" value="qzkhyxh@126.com"/>
  <!--密钥-->
  <add key="alipay_key" value="n2xsbgylnb7ysi653s5jm78o8a5163n6"/>

  <!--QQ API id-->
  <add key="qq_appid" value="200471"/>
  <!--QQ API Key-->
  <add key="qq_appkey" value="f08489d4807387c475fda779e04a4129"/>

  <!--Sina API id-->
  <add key="sina_appid" value="1156407479"/>
  <!--Sina API Key-->
  <add key="sina_appkey" value="5eee63da1578e404f7263166559e8f8a"/>

  <!--关于JS与CSS的快速整合Load-->
  <!--频道页 DefaultMaster  -->
  <add key="PageCss" value="styles/default_global.css,styles/navcss.css,styles/common.css,styles/master.css,styles/Scrollable.css,styles/help.css,styles/admincenter.css,styles/validator.css,styles/powerFloat.css,styles/jquery.Jcrop.css,styles/xiala.css,styles/allcate.css,styles/jquery.autocomplete.css"/>
  <add key="PageJs" value="temp/master.js,temp/channel.js,temp/comm.js"/>
  <add key="PageExtJs" value="JQuery/jquery.tools.min.tab.js,JQuery/jquery.tools.min.scrollable.js,JQuery/formValidator.js,jquery/jq.slide.js,jquery-autocomplete/jquery.autocomplete.pack.js,global.js"/>
  <!--前台车问版块-->
  <add key="CarQuestionCss" value="styles/chewen.css,styles/powerFloat.css,styles/boxy.css" />
  <add key="CarQuestionJs" value="jquery-powerFloat/js/jquery-powerFloat.js,boxy-0.1.4/src/javascripts/jquery.boxy.js,Temp/CarMaster.js" />
  <!--产品页-->
  <add key="ProductCss" value="styles/admincenter.css,styles/common.css,styles/validator.css,styles/jqzoom.css"/>
  <add key="ProductJs" value="zoom/jquery.jqzoom.js,Temp/product.js"/>
  <!--用户页-->
  <add key="UserCss" value="styles/common.css,styles/master.css,styles/default_global.css,styles/user_global.css,styles/admincenter.css,styles/Scrollable.css,styles/validator.css,styles/powerFloat.css,styles/jquery.Jcrop.css,styles/navcss.css,styles/xiala.css,styles/jquery.autocomplete.css"/>
  <add key="UserJs" value="jquery/jq.slide.js,JQuery/formValidator.js,jquery-powerFloat/js/jquery-powerFloat.js,uploadfile/swfupload.js,jquery.jcrop/js/jquery.Jcrop.js,global.js,Temp/master.js,temp/comm.js,jquery-autocomplete/jquery.autocomplete.pack.js"/>
  <!--后台管理页-->
  <add key="AdminCss" value="styles/boxy.css,styles/Scrollable.css,styles/powerFloat.css,styles/unifystandard.css,styles/cms_main.css,styles/superfish.css,styles/jquery-ui-1.8.7.custom.css"/>
  <add key="AdminJs" value="jquery/jquery-1.4.4.min.js,jquery/jquery-ui-1.8.7.custom.min.js,boxy-0.1.4/src/javascripts/jquery.boxy.js,jquery/jq.slide.js,Admin/CMS.System.js,uploadfile/swfupload.js,jquery-powerFloat/js/jquery-powerFloat.js,jquery.superfish/js/hoverIntent.js,jquery.superfish/js/superfish.js,global.js,hsearch.js,Admin/RepeaterEx.js,Admin/style.js,CellPublish.js"/>
  <!--文章页-->
  <add key="ArticleCss" value="styles/common.css,styles/navcss.css,styles/master.css,styles/help.css,styles/xiala.css,styles/jquery.autocomplete.css"/>
  <add key="ArticleJs" value="jquery-autocomplete/jquery.autocomplete.pack.js,global.js,temp/master.js,Temp/helpurl.js,Temp/helpcenter.js,temp/comm.js"/>
  <!--产品图片管理页-->
  <add key="ProductImgUploadCss" value="styles/unifystandard.css,styles/common.css,styles/cms_main.css,styles/jquery.rte.css,styles/boxy.css,styles/powerFloat.css,styles/jquery-ui-1.8.7.custom.css"/>
  <add key="ProductImgUploadJs" value="jquery/jquery-1.4.4.min.js,jquery-powerFloat/js/jquery-powerFloat.js,jquery.rte/jquery.rte.1.2.1.full.js,jquery.rte/jquery.rte.tb.js,uploadfile/swfupload.js,boxy-0.1.4/src/javascripts/jquery.boxy.js,jquery/jquery-ui-1.8.7.custom.min.js,global.js,hsearch.js,Admin/CMS.System.js,Admin/RepeaterEx.js"/>
  <!--产品管理页-->
  <add key="ProductManageCss" value="styles/unifystandard.css,styles/common.css,styles/cms_main.css,styles/jquery.rte.css,styles/boxy.css,styles/powerFloat.css,styles/jquery-ui-1.8.7.custom.css,styles/swfupload.css,style/validator.css"/>
  <add key="ProductManageJs" value="jquery/jquery-1.4.4.min.js,jquery-powerFloat/js/jquery-powerFloat.js,jquery/formValidator.js,Admin/CMS.System.js,global.js,boxy-0.1.4/src/javascripts/jquery.boxy.js,jquery/jquery-ui-1.8.7.custom.min.js,hsearch.js,swfupload/swfupload.js,swfupload/swfupload.queue.js,swfupload/fileprogress.js,swfupload/handlers.js,Admin/RepeaterEx.js" />
  <!--文章管理页-->
  <add key="ArticleManageCss" value="styles/common.css,styles/cms_main.css,styles/unifystandard.css,styles/jquery.rte.css,styles/boxy.css,styles/Scrollable.css,styles/jquery-ui-1.8.7.custom.css"/>
  <add key="ArticleManageJs" value="jquery/jquery-1.4.4.min.js,jquery/jq.slide.js,jquery.rte/jquery.rte.1.2.1.full.js,jquery.rte/jquery.rte.tb.js,jquery/jquery-ui-1.8.7.custom.min.js,Admin/CMS.System.js,uploadfile/swfupload.js,global.js,boxy-0.1.4/src/javascripts/jquery.boxy.js,hsearch.js"/>

  <!--从外部去除缓存-->
  <add key="ClearCache" value="/user/clearcache.aspx"/>
  <add key="20110304" value="styles/new_default_global.css,styles/new_default_header_footer.css,styles/new_default.css"/>
  <add key="defaultjs" value="jquery/jquery-1.4.4.min.js"/>

<!--出错时，系统通知人-->
    <add key="AlertMobile" value="18667175253,13761237589"/>
</appSettings>
